/* Variables */
// Colors
$primary: #cc147f;
$primary-dark: #951861;
$secondary: #26bfb5;
$error: #e65153;
$error-bg: #ffd1d2;
$success: #758c36;
$success-bg: #c8e675;
$info: #4a95cc;
$info-bg: #d7ecfb;
$notice: #bba31b;
$notice-bg: #fff099;
$white: #fff;
$near-white: #f1f1f1;
$v-light-grey: #e1e1e1;
$light-grey: #ccc;
$dark-grey: #555;
$v-dark-grey: #111;
$near-black: #0c0c0c;
$black: #000;
$black-05: rgba(0, 0, 0, .05);
$black-1: rgba(0, 0, 0, .1);
$black-15: rgba(0, 0, 0, .15);
$black-2: rgba(0, 0, 0, .2);
$black-25: rgba(0, 0, 0, .25);
$black-3: rgba(0, 0, 0, .3);
$black-5: rgba(0, 0, 0, .5);
$black-8: rgba(0, 0, 0, .8);
$white-05: rgba(255, 255, 255, .05);
$white-1: rgba(255, 255, 255, .1);
$white-15: rgba(255, 255, 255, .15);
$white-2: rgba(255, 255, 255, .2);
$white-25: rgba(255, 255, 255, .25);
$white-3: rgba(255, 255, 255, .3);
$white-5: rgba(255, 255, 255, .5);
$white-8: rgba(255, 255, 255, .8);
$transparent: transparent;

@import './normal.scss';
@import './fonts.scss';

// Base (use px)
html {
  font: 12px sans-serif;
  &.no-js [data-aos] {
    transform: none !important;

    opacity: 1 !important;
  }
  @media only screen and (max-width: 80rem) {
    font-size: 11px;
  }
  @media only screen and (max-width: 50rem) {
    font-size: 10px;
  }
  @media only screen and (max-width: 40rem) {
    font-size: 9px;
  }
}
body {
  font: 1.7rem/1.765 interui-regular, sans-serif;

  color: $dark-grey;
  background: $near-black;
}
hr {
  margin: 2.4rem 0 1.5rem;

  border-color: $black-1;
}
pre {
  padding: 2.4rem 3rem 3rem;

  background: $near-white;
}
a {
  line-height: inherit;

  transition: all .3s ease-in-out;
  text-decoration: none;

  color: $primary;
  &:active,
  &:hover {
    outline: 0;
  }
}
mark {
  background: $secondary;
}
textarea {
  min-height: 16em;
}
// General layout (use % and px? for breakpoints)
.grid {
  display: grid;

  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  grid-template-columns: 1fr;
  grid-gap: 20px;

  @for $i from 1 through 6 {
    &.cols-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }

  @media (max-width: 1200px) {
    @for $i from 1 through 6 {
      &.cols-md-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }

  @media (max-width: 800px) {
    @for $i from 1 through 6 {
      &.cols-sm-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }

  @media (max-width: 600px) {
    @for $i from 1 through 6 {
      &.cols-xs-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
}
// Animate on scroll
[data-aos] {
  pointer-events: none;
  &.aos-animate {
    pointer-events: auto;
  }
  body[data-aos-duration='400'] &,
  &[data-aos][data-aos-duration='400'] {
    transition-duration: 400ms;
  }
  body[data-aos-delay='200'] &,
  &[data-aos][data-aos-delay='200'] {
    transition-delay: 0s;
    &.aos-animate {
      transition-delay: 200ms;
    }
  }
  &[data-aos^='fade'] {
    transition-property: opacity, transform;

    opacity: 0;
    &.aos-animate {
      transform: none;

      opacity: 1;
    }
  }
  &[data-aos='fade-up'] {
    transform: translate3d(0, 100px, 0);
  }
}
// slick testimonial slider
@import './slick.scss';
// pswp
.pswp {
  font-family: 'metropolis-regular', sans-serif;

  position: absolute;
  z-index: 1500;
  top: 0;
  left: 0;

  display: none;
  overflow: hidden;

  width: 100%;
  height: 100%;

  outline: 0;

  touch-action: none;
  backface-visibility: hidden;
}
.pswp img {
  max-width: none;
}
.pswp--animate_opacity {
  transition: opacity 333ms cubic-bezier(.4, 0, .22, 1);

  opacity: .1;

  will-change: opacity;
}
.pswp--open {
  display: block;
}
.pswp--zoom-allowed .pswp__img {
  cursor: zoom-in;
}
.pswp--zoomed-in .pswp__img {
  cursor: grab;
}
.pswp--dragging .pswp__img {
  cursor: grabbing;
}
.pswp__bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: opacity 333ms cubic-bezier(.4, 0, .22, 1);
  transform: translateZ(0);

  opacity: 0;
  background: $black;

  backface-visibility: hidden;
  will-change: opacity;
}
.pswp__scroll-wrap {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;
}
.pswp__container,
.pswp__zoom-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  touch-action: none;
  backface-visibility: hidden;
}
.pswp__container,
.pswp__img {
  user-select: none;

  tap-highlight-color: $transparent;
  touch-callout: none;
}
.pswp__zoom-wrap {
  position: absolute;

  width: 100%;

  transition: transform 333ms cubic-bezier(.4, 0, .22, 1);
  transform-origin: left top;
}
.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  transition: none;
}
.pswp__item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;
}
.pswp__img {
  position: absolute;
  top: 0;
  left: 0;

  width: auto;
  height: auto;
}
.pswp__img--placeholder {
  backface-visibility: hidden;
}
.pswp__img--placeholder--blank {
  background: $v-dark-grey; // #222
}
.pswp--ie .pswp__img {
  top: 0;
  left: 0;

  width: 100% !important;
  height: auto !important;
}
.pswp__error-msg {
  font-size: 14px;
  line-height: 16px;

  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  margin-top: -8px;

  text-align: center;

  color: $light-grey;
}
.pswp__error-msg a {
  text-decoration: underline;

  color: $light-grey;
}
.pswp__button {
  line-height: 1;

  position: relative;

  display: block;
  float: right;
  overflow: visible;

  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: opacity .2s;

  opacity: .6;
  border: 0;
  background: none;
  box-shadow: none;

  appearance: none;
}
.pswp__button:focus,
.pswp__button:hover {
  opacity: 1;
  background-color: $transparent;
}
.pswp__button:active {
  opacity: .9;
  outline: 0;
}
.pswp__ui--over-close .pswp__button--close {
  opacity: 1;
}
.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  width: 44px;
  height: 44px;

  background: url(../images/photoswipe/default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
}
.pswp__button--close {
  background-position: 0 -44px;
}
.pswp__button--share {
  background-position: -44px -44px;
}
.pswp__button--fs {
  display: none;
}
.pswp--supports-fs .pswp__button--fs {
  display: block;
}
.pswp--fs .pswp__button--fs {
  background-position: -44px 0;
}
.pswp__button--zoom {
  display: none;

  background-position: -88px 0;
}
.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}
.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0;
}
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden;
}
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  position: absolute;
  top: 50%;

  width: 30px;
  height: 32px;
  margin-top: -22px;

  background: none;
}
.pswp__button--arrow--left {
  left: 12px;
}
.pswp__button--arrow--right {
  right: 12px;
}
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  position: absolute;
  top: 0;

  width: 32px;
  height: 30px;

  content: '';

  border-radius: 3px;
  background-color: $black-3;
}
.pswp__button--arrow--left:before {
  left: 6px;

  background-position: -138px -44px;
}
.pswp__button--arrow--right:before {
  right: 6px;

  background-position: -94px -44px;
}
.pswp__counter,
.pswp__share-modal {
  user-select: none;
}
.pswp__share-modal {
  position: absolute;
  z-index: 1600;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;
  padding: 10px;

  transition: opacity .25s ease-out;

  opacity: 0;
  background: $black-5;

  backface-visibility: hidden;
  will-change: opacity;
}
.pswp__share-modal--hidden {
  display: none;
}
.pswp__share-tooltip {
  position: absolute;
  z-index: 1620;
  top: 56px;
  right: 44px;

  display: block;

  width: auto;

  transition: transform .25s;
  transform: translateY(6px);

  border-radius: 3px;
  background: $white;
  box-shadow: 0 2px 5px $black-25;

  backface-visibility: hidden;
  will-change: transform;
}
.pswp__share-tooltip a {
  font-size: 13px;
  line-height: 18px;

  display: block;

  padding: 9px 15px;

  text-decoration: none;

  color: $black;
}
.pswp__share-tooltip a:hover {
  text-decoration: none;

  color: $black;
}
.pswp__share-tooltip a:first-child {
  border-radius: 3px 3px 0 0;
}
.pswp__share-tooltip a:last-child {
  border-radius: 0 0 3px 3px;
}
.pswp__share-modal--fade-in {
  opacity: 1;
}
.pswp__share-modal--fade-in .pswp__share-tooltip {
  transform: translateY(0);
}
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px;
}
a.pswp__share--facebook:before {
  position: absolute;
  top: -12px;
  right: 15px;

  display: block;

  width: 0;
  height: 0;

  content: '';
  pointer-events: none;

  border: 6px solid $transparent;
  border-bottom-color: $white;
}
.pswp__counter {
  font-size: 13px;
  line-height: 44px;

  position: absolute;
  top: 0;
  left: 6px;

  height: 44px;
  padding: 0 10px;

  opacity: .75;
  color: $white;
}
.pswp__caption {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  min-height: 45px;
}
.pswp__caption h4 {
  font-size: 1.8rem;
  line-height: 1.333;

  margin: 0 0 .6rem;

  color: $white;
}
.pswp__caption small {
  font-size: 11px;

  color: $white-5;
}
.pswp__caption__center {
  font-size: 13px;
  line-height: 20px;

  max-width: 900px;
  margin: 0 auto;
  padding: 10px;

  text-align: center;

  color: $white-5;
}
.pswp__caption--empty {
  display: none;
}
.pswp__caption--fake {
  visibility: hidden;
}
.pswp__preloader {
  position: absolute;
  top: 0;
  left: 50%;

  width: 44px;
  height: 44px;
  margin-left: -22px;

  transition: opacity .25s ease-out;

  opacity: 0;

  will-change: opacity;
  direction: ltr;
}
.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px;
}
.pswp__preloader--active {
  opacity: 1;
}
.pswp__preloader--active .pswp__preloader__icn {
  background: url(..images/photoswipe/preloader.gif) 0 0 no-repeat;
}
.pswp--css_animation .pswp__preloader--active {
  opacity: 1;
}
.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
  animation: clockwise 500ms linear infinite;
}
.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
  animation: donut-rotate 1000ms cubic-bezier(.4, 0, .22, 1) infinite;
}
.pswp--css_animation .pswp__preloader__icn {
  position: absolute;
  top: 15px;
  left: 15px;

  width: 14px;
  height: 14px;
  margin: 0;

  opacity: .75;
  background: none;
}
.pswp--css_animation .pswp__preloader__cut {
  position: relative;

  overflow: hidden;

  width: 7px;
  height: 14px;
}
.pswp--css_animation .pswp__preloader__donut {
  position: absolute;
  top: 0;
  left: 0;

  width: 14px;
  height: 14px;
  margin: 0;

  border: 2px solid $white;
  border-bottom-color: $transparent;
  border-left-color: $transparent;
  border-radius: 50%;
  background: none;
}
.pswp__ui {
  z-index: 1550;

  visibility: visible;

  opacity: 1;

  font-smoothing: auto;
}
.pswp__top-bar {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 44px;
  padding: 0 6px;
}
.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  transition: opacity 333ms cubic-bezier(.4, 0, .22, 1);

  backface-visibility: hidden;
  will-change: opacity;
}
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible;
}
.pswp__top-bar,
.pswp__caption {
  background-color: $black-5;
}
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: $black-3;
}
.pswp__ui--idle .pswp__top-bar {
  opacity: 0;
}
.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0;
}
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  opacity: .1;
}
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none;
}
.pswp__element--disabled {
  display: none !important;
}
.pswp--minimal--dark .pswp__top-bar {
  background: none;
}
// pace
.pace {
  user-select: none;
  pointer-events: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  position: fixed;
  z-index: 900;
  top: 0;
  right: 100%;

  width: 100%;
  height: .4rem;

  background: $primary;
}
.oldie .pace {
  display: none;
}
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  font: 1.5rem/3rem interui-medium, sans-serif;

  display: block;

  max-width: 100%;
  height: 6rem;
  padding: 1.5rem 2.4rem;

  transition: all .3s ease-in-out;

  color: $v-dark-grey; // #222
  border: 0;
  outline: 0;
  background: $black-15;
}
.cl-custom-select {
  position: relative;

  padding: 0;
}
.cl-custom-select select {
  line-height: 3rem;

  margin: 0;

  vertical-align: middle;
  text-indent: .01px;
  text-overflow: '';

  appearance: none;
}
.cl-custom-select select option {
  padding-right: 2rem;
  padding-left: 2rem;
}
.cl-custom-select::after {
  position: absolute;
  top: 50%;
  right: 2.4rem;

  display: block;

  width: .8rem;
  height: .8rem;
  margin-top: -.7rem;

  content: '';
  transition: all .15s ease-in-out;
  transform: rotate(45deg);
  transform-origin: 66% 66%;
  pointer-events: none;

  border-right: 2px solid $black-5;
  border-bottom: 2px solid $black-5;
}
.oldie .cl-custom-select::after {
  display: none;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  color: $black;
}
label,
legend {
  font: 400 1.4rem/1.714 interui-medium, sans-serif;

  display: block;

  margin-bottom: .9rem;

  color: $black;
}
input[type='checkbox'],
input[type='radio'] {
  display: inline;
}
label > .label-text {
  font-family: 'interui-medium', sans-serif;
  font-weight: normal;
  line-height: inherit;

  display: inline-block;

  margin-left: 1rem;
}
label > input[type='checkbox'],
label > input[type='radio'] {
  position: relative;
  top: .15rem;

  margin: 0;
}
::placeholder {
  opacity: 1;
  color: $dark-grey;
}
.placeholder {
  color: $dark-grey !important;
}
.btn,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  font: 1.2rem/5rem interui-medium, sans-serif;

  display: inline-block;

  height: 5.4rem;
  margin: 0 .3rem 1.2rem 0;
  padding: 0 3rem;

  cursor: pointer;
  transition: all .3s ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: .3rem;
  text-transform: uppercase;

  color: $black;
  border: .2rem solid $light-grey;
  background-color: $light-grey;
}
.btn:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.btn:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  color: $black;
  border-color: $v-light-grey;
  outline: 0;
  background-color: $v-light-grey;
}
.btn.btn--primary,
button.btn--primary,
input[type='submit'].btn--primary,
input[type='reset'].btn--primary,
input[type='button'].btn--primary {
  color: $white;
  border-color: $primary;
  background: $primary;
}
.btn.btn--primary:hover,
button.btn--primary:hover,
input[type='submit'].btn--primary:hover,
input[type='reset'].btn--primary:hover,
input[type='button'].btn--primary:hover,
.btn.btn--primary:focus,
button.btn--primary:focus,
input[type='submit'].btn--primary:focus,
input[type='reset'].btn--primary:focus,
input[type='button'].btn--primary:focus {
  border-color: $primary-dark;
  background: $primary-dark;
}
.btn.full-width,
button.full-width {
  width: 100%;
  margin-right: 0;
}
.btn--medium,
button.btn--medium {
  line-height: 5.3rem !important;

  height: 5.7rem !important;
}
.btn--large,
button.btn--large {
  line-height: 5.6rem !important;

  height: 6rem !important;
}
.btn--stroke,
button.btn--stroke {
  color: $black;
  border: .2rem solid $black;
  background: $transparent !important;
}
.btn--stroke:hover,
button.btn--stroke:hover {
  color: $white;
  border: .2rem solid $black;
  background: $black !important;
}
.btn--pill,
button.btn--pill {
  padding-right: 3rem !important;
  padding-left: 3rem !important;

  border-radius: 9999px !important;
}
.alert-box {
  font: 1.5rem/1.6 interui-medium, sans-serif;

  position: relative;

  margin-bottom: 3rem;
  padding: 2.1rem 4rem 2.1rem 3rem;

  border-radius: .3rem;
}
.alert-box__close {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;

  cursor: pointer;
}
.alert-box__close.fa {
  font-size: 1.2rem;
}
.alert-box--error {
  color: $error;
  background-color: $error-bg;
}
.alert-box--success {
  color: $success;
  background-color: $success-bg;
}
.alert-box--info {
  color: $info;
  background-color: $info-bg;
}
.alert-box--notice {
  color: $notice;
  background-color: $notice-bg;
}
.drop-cap:first-letter {
  font: 400 8.4rem/6rem interui-bold, sans-serif;

  float: left;

  margin: 0;
  padding: 1.5rem .6rem 0 0;

  text-indent: 0;

  color: $black;
  background: $transparent;
}
.lining dt,
.lining dd {
  display: inline;

  margin: 0;
}
.lining dt + dt:before,
.lining dd + dt:before {
  content: '\A';
  white-space: pre;
}
.lining dd + dd:before {
  content: ',';
}
.lining dd:before {
  margin-left: -.2em;

  content: ':';
}
.dictionary-style dt {
  display: inline;

  counter-reset: definitions;
}
.dictionary-style dt + dt:before {
  margin-left: -.2em;

  content: ',';
}
.dictionary-style dd {
  display: block;

  counter-increment: definitions;
}
.dictionary-style dd:before {
  content: counter(definitions, decimal) '. ';
}
.pull-quote {
  position: relative;

  padding: 2.1rem 3rem 2.1rem 0;
}
.pull-quote:before,
.pull-quote:after {
  font: 10rem Arial, Sans-Serif;

  position: absolute;

  height: 1em;

  color: $black-25;
}
.pull-quote:before {
  top: -3.6rem;
  left: 0;

  content: '\201C';
}
.pull-quote:after {
  right: 0;
  bottom: 3.6rem;

  content: '\201D';
}
.pull-quote blockquote {
  margin: 0;
}
.pull-quote blockquote:before {
  content: none;
}
.stats-tabs {
  margin: 3rem 0;
  padding: 0;
}
.stats-tabs li {
  display: inline-block;

  margin: 0 1.5rem 3rem 0;
  padding: 0 1.5rem 0 0;

  border-right: 1px solid $black-2;
}
.stats-tabs li:last-child {
  margin: 0;
  padding: 0;

  border: none;
}
.stats-tabs li a {
  font: 400 2.5rem interui-bold, sans-serif;

  display: inline-block;

  color: $black;
  border: none;
}
.stats-tabs li a:hover {
  color: $primary;
}
.stats-tabs li a em {
  font: 1.4rem interui-medium, sans-serif;

  display: block;

  margin: .6rem 0 0;

  color: $dark-grey;
}
.skill-bars {
  margin: 6rem 0 3rem;

  list-style: none;
}
.skill-bars li {
  position: relative;

  width: 100%;
  height: .6rem;
  margin-bottom: 6.9rem;
  padding: 0;

  background: $light-grey;
}
.skill-bars li strong {
  font: 1.4rem/2.4rem interui-medium, sans-serif;

  position: absolute;
  top: -3rem;
  left: 0;

  letter-spacing: .2rem;
  text-transform: uppercase;

  color: $black;
}
.skill-bars li .progress {
  position: relative;

  height: 100%;

  background: $black;
}
.skill-bars li .progress span {
  font: 1.1rem/1 interui-medium, sans-serif;

  position: absolute;
  top: -3.6rem;
  right: 0;

  display: block;

  padding: .6rem;

  color: $white;
  border-radius: .3rem;
  background: $black;
}
.skill-bars li .progress span::after {
  position: absolute;
  bottom: -.5rem;
  left: 50%;

  margin-left: -.5rem;

  content: '';

  border-top: 5rem solid $black;
  border-right: 5rem solid $transparent;
  border-left: 5rem solid $transparent;
}
.skill-bars li .percent5 {
  width: 5%;
}
.skill-bars li .percent10 {
  width: 10%;
}
.skill-bars li .percent15 {
  width: 15%;
}
.skill-bars li .percent20 {
  width: 20%;
}
.skill-bars li .percent25 {
  width: 25%;
}
.skill-bars li .percent30 {
  width: 30%;
}
.skill-bars li .percent35 {
  width: 35%;
}
.skill-bars li .percent40 {
  width: 40%;
}
.skill-bars li .percent45 {
  width: 45%;
}
.skill-bars li .percent50 {
  width: 50%;
}
.skill-bars li .percent55 {
  width: 55%;
}
.skill-bars li .percent60 {
  width: 60%;
}
.skill-bars li .percent65 {
  width: 65%;
}
.skill-bars li .percent70 {
  width: 70%;
}
.skill-bars li .percent75 {
  width: 75%;
}
.skill-bars li .percent80 {
  width: 80%;
}
.skill-bars li .percent85 {
  width: 85%;
}
.skill-bars li .percent90 {
  width: 90%;
}
.skill-bars li .percent95 {
  width: 95%;
}
.skill-bars li .percent100 {
  width: 100%;
}
.wide {
  max-width: 140rem;
}
.narrow {
  max-width: 80rem;
}
.light-gray {
  background-color: $near-white;
}
.display-1 {
  font: 6rem/1.3 domine-bold, sans-serif;

  margin-top: 0;
  margin-bottom: 4.8rem;

  letter-spacing: -.03rem;

  color: $black;
}
.display-1--light {
  color: $white;
}
.subhead {
  font: 1.6rem/1.3125 interui-medium, sans-serif;

  margin-top: 0;
  margin-bottom: 2.1rem;

  letter-spacing: .25rem;
  text-transform: uppercase;

  color: $primary;
}
.subhead::before {
  content: '</> ';

  opacity: .5;
}
.s-header {
  position: absolute;
  z-index: 500;
  top: 2.4rem;

  width: 100%;
  height: 9.6rem;

  background-color: $transparent;
}
.header-logo {
  position: absolute;
  z-index: 501;
  top: 50%;
  left: 11rem;

  display: inline-block;

  margin: 0;
  padding: 0;

  transform: translateY(-50%);
}
.header-logo a {
  font: 3rem domine-bold, serif;

  display: inline-block;

  padding: 0;

  transition: all .3s ease-in-out;

  color: $white;
  border: none;
  outline: 0;
}
.header-logo a:hover,
.header-logo a:focus,
.header-logo a:active {
  color: $primary;
}
.header-logo svg {
  position: absolute;
  top: 0;
  left: 0;

  width: auto;
  height: 100%;

  color: $primary;
}
.site-logo-text::before {
  content: 'codesurgery.io';
}
.header-nav {
  font: 1.3rem/1.846 interui-medium, sans-serif;

  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;

  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;

  width: 28rem;
  height: 100%;
  padding: 3.6rem 3rem 3.6rem 3.6rem;

  transition: all .5s ease;
  transform: translateZ(0); /* X(100%); */

  color: $white-25;
  background: $near-black;

  backface-visibility: hidden;
}
.header-nav a,
.header-nav a:visited {
  color: $white-5;
}
.header-nav a:hover,
.header-nav a:focus,
.header-nav a:active {
  color: $white;
}
.header-nav h3 {
  font: 2.2rem/1.363 domine-bold, sans-serif;

  margin-top: 0;
  margin-bottom: 4.8rem;

  color: $primary;
}
.header-nav p {
  margin-bottom: 2.7rem;
}
.header-nav__content {
  position: relative;
  left: 5rem;

  visibility: hidden;

  opacity: 0;
  background: $near-black;
}
.header-nav__list {
  font: 1.6rem interui-medium, sans-serif;

  margin: 3.6rem 0 3rem;
  padding: 0 0 1.8rem;

  list-style: none;

  counter-reset: ctr;
}
.header-nav__list li {
  line-height: 4.8rem;

  position: relative;

  border-top: 1px solid $white-05;
}
.header-nav__list li:last-child {
  border-bottom: 1px solid $white-05;
}
.header-nav__list a {
  position: relative;

  display: block;

  padding-left: 3.5rem;

  color: $white;
}
.header-nav__list a::before {
  font: 1.1rem interui-medium, sans-serif;

  position: absolute;
  top: 0;
  left: .3rem;

  content: counter(ctr, decimal-leading-zero) '.';
  counter-increment: ctr;
  transition: all .5s ease-in-out;

  color: $white-25;
}
.header-nav__list a:hover::before {
  color: $primary;
}
.header-nav__social {
  font-size: 1.8rem;

  display: inline-block;

  margin: 0;

  list-style: none;
}
.header-nav__social li {
  display: inline-block;

  margin-right: 1.2rem;
  padding-left: 0;
}
.header-nav__social li a {
  color: $white-15;
}
.header-nav__social li a:hover,
.header-nav__social li a:focus {
  color: $white;
}
.header-nav__social li:last-child {
  margin: 0;
}
.header-nav__close {
  font: 0/0 a;

  position: absolute;
  z-index: 800;
  top: 3.6rem;
  right: 3rem;

  display: block;

  width: 3rem;
  height: 3rem;

  color: $transparent;
  border-radius: .3rem;
  background-color: $black-3;
  text-shadow: none;
}
.header-nav__close span::before,
.header-nav__close span::after {
  position: absolute;
  top: 50%;
  left: .9rem;

  display: block;

  width: 1.2rem;
  height: 2px;
  margin-top: -1px;

  content: '';

  background-color: $white;
}
.header-nav__close span::before {
  transform: rotate(-45deg);
}
.header-nav__close span::after {
  transform: rotate(45deg);
}
.menu-is-open .header-nav {
  visibility: visible;

  transform: translateX(0);

  overflow-scrolling: touch;
}
.menu-is-open .header-nav .header-nav__content {
  left: 0;

  visibility: visible;

  transition-delay: .3s;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
  transition-property: all;

  opacity: 1;
}
.header-menu-toggle {
  font: 1.4rem/4.5rem interui-medium, sans-serif;

  position: fixed;
  top: 4.2rem;
  right: 11rem;

  width: 4.8rem;
  height: 4.5rem;

  transition: all .5s ease-in-out;
  letter-spacing: .4rem;
  text-transform: uppercase;

  color: $white;
}
.header-menu-toggle::before {
  position: absolute;
  top: 0;
  right: 100%;
  left: auto;

  display: inline-block;

  height: 4.5rem;
  padding-right: 1rem;
  padding-left: 1.5rem;

  content: 'Menu';
  text-align: right;
}
.header-menu-toggle.opaque {
  background-color: $black;
}
.header-menu-toggle.opaque::before {
  display: none;
}
.header-menu-toggle:hover,
.header-menu-toggle:focus,
.header-menu-toggle:active {
  color: $primary;
}
.header-menu-icon {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 1.1rem;

  display: block;

  width: 2.6rem;
  height: 2px;
  margin-top: -1px;

  background-color: $white;
}
.header-menu-icon::before,
.header-menu-icon::after {
  position: absolute;
  left: 0;

  width: 100%;
  height: 100%;

  content: '';

  background-color: inherit;
}
.header-menu-icon::before {
  top: -.9rem;
}
.header-menu-icon::after {
  bottom: -.9rem;
}
.s-home {
  position: relative;

  display: table;

  width: 100%;
  height: auto;
  min-height: 100vh;

  background-color: $transparent;
}
.s-home .shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: .4;
  background: linear-gradient(to right, $black 0%, $black 20%, $transparent 100%);
}
.s-home::before {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;

  content: '';

  opacity: .65;
  background-color: $black;
}
.no-js .s-home {
  background: $black;
}
.home-content {
  position: relative;

  display: table-cell;
  overflow: hidden;

  width: 100%;
  height: 100%;
  padding-bottom: 15.6rem;

  vertical-align: middle;
}
.home-content h1 {
  font-family: 'domine-bold', sans-serif;
  line-height: 1.1;

  margin-bottom: 0;

  color: $white;
}
.home-content h1 + p {
  font-family: 'interui-regular', sans-serif;

  margin-top: 2em;

  color: $white-8;
}
.home-content h1 > span,
.home-content h1 + p > span {
  font-size: 130%;
}
.home-content__main {
  position: relative;

  max-width: 80rem;
  padding-top: 15rem;
  padding-right: 20rem;
}
.home-sidelinks {
  font: 1.4rem/1.714 interui-medium, sans-serif;

  position: absolute;
  top: 50%;
  right: 0;

  margin: 0;

  list-style: none;

  transform: translateY(-50%);
  letter-spacing: .3rem;
  text-transform: uppercase;
}
.home-sidelinks li {
  position: relative;

  display: block;

  padding: 0;

  transition: all .5s ease-in-out;
  text-align: left;

  border-top: 1px solid $black-1;
  background-color: $black-5;
}
.home-sidelinks li:last-child {
  border-bottom: 1px solid $black-1;
}
.home-sidelinks li::before {
  position: absolute;
  top: 3rem;
  left: 2rem;

  display: block;

  width: .6rem;
  height: .6rem;

  content: '';

  border-radius: 50%;
  background-color: $primary;
}
.home-sidelinks a {
  display: block;

  padding: 2.1rem 15rem 2.1rem 4rem;

  color: $white;
}
.home-sidelinks span {
  font: 1.5rem/1.6rem interui-medium, sans-serif;

  display: block;

  letter-spacing: 0;
  text-transform: none;

  color: $white-5;
}
.home-sidelinks li:hover {
  border-top: 1px solid $black-5;
  background-color: $black-8;
}
.home-scroll {
  position: absolute;
  right: 11rem;
  bottom: 6.6rem;

  height: 4.8rem;
}
.home-scroll__text {
  font: 1.1rem/4.8rem interui-medium, sans-serif;

  position: relative;
  right: 7.5rem;

  display: inline-block;

  transition: all .3s ease-in-out;
  letter-spacing: .3rem;
  text-transform: uppercase;

  color: $white;
  border-bottom: 1px solid $transparent;
}
.home-scroll__icon {
  position: absolute;
  top: 0;
  right: 0;

  display: block;

  width: 4.8rem;
  height: 4.8rem;

  transition: all .3s ease-in-out;

  border-radius: 50%;
  background: $white;
   > span {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}
.home-scroll:hover .home-scroll__text {
  border-bottom: 1px solid $white;
}
.home-social {
  font-size: 1.6rem;
  line-height: 4.8rem;

  position: absolute;
  bottom: 6.6rem;
  left: 11rem;

  margin: 0;

  list-style: none;

  color: $white;
}
.home-social a {
  transition: all .5s ease-in-out;

  color: $white;
  border-bottom: 1px solid $transparent;
}
.home-social a:hover {
  border-bottom: 1px solid $white;
}
.home-social .home-social-title {
  font-family: 'interui-medium', sans-serif;

  position: relative;

  margin-right: .8rem;
  padding-right: 4rem;
}
.home-social .home-social-title::after {
  position: absolute;
  top: 50%;
  right: 0;

  display: block;

  width: 2.4rem;
  height: 1px;

  content: '';

  background-color: $white-1;
}
.home-social li {
  position: relative;

  display: inline-block;

  margin-right: .6rem;
}
.home-social li a {
  display: block;
}
.home-social li:last-child {
  margin-right: 0;
}
.s-about {
  position: relative;

  padding-top: 18rem;
  padding-bottom: 18rem;

  background-color: $white;
}
.process {
  position: relative;

  margin-top: 4.2rem;
}
.process__vline-left,
.process__vline-right {
  position: absolute;

  display: block;

  width: 1px;
  height: 100%;

  background-color: $black-15;
}
.process__vline-left {
  top: 0;
  left: 4.4rem;
}
.process__vline-right {
  top: 0;
  left: calc(50% + 4.4rem);
}
.process h4 {
  font-size: 2.8rem;
  line-height: 1.5;

  position: relative;

  margin-top: 0;
}
.process__col {
  position: relative;

  min-height: 24.6rem;
}
.process__col::before {
  font: 2.1rem/4.8rem interui-medium, sans-serif;

  position: absolute;
  top: 0;
  left: 2rem;

  display: block;

  width: 4.8rem;
  height: 4.8rem;

  content: attr(data-item);
  text-align: center;

  color: $white;
  border-radius: 50%;
  background: $primary;
  box-shadow: 0 0 0 1.8rem $white;
}
.process__text {
  margin-left: 7.5rem;
  padding-right: 3rem;
}
.s-services {
  position: relative;

  padding-top: 18rem;
  padding-bottom: 18rem;

  color: $dark-grey;
}
.services-list {
  margin-top: 6rem;
}
.services-list .service-item {
  margin-bottom: 1.5rem;
}
.services-list .service-item h3 {
  margin-top: 0;
  margin-bottom: 1.8rem;
}
.services-list .service-icon {
  font-size: 4.8rem;

  color: $near-white;
}
.services-list .service-icon-bg {
  position: relative;

  display: inline-block;

  width: 1.2em;
  height: 1.2em;

  background-color: $primary;
}
.services-list .service-icon-bg span {
  position: absolute;
  top: 12%;
  left: 12%;

  width: 76%;
  height: 76%;

  filter: invert(1);
}
.s-works {
  position: relative;

  padding: 18rem 0 24rem;

  background: $white;
}
.masonry-wrap {
  width: 138rem;
  max-width: none;
  margin-top: 6rem;
}
.masonry:after {
  display: table;
  clear: both;

  content: '';
}
.masonry .grid-sizer,
.masonry__brick {
  width: 46rem;
}
.masonry__brick {
  float: left;

  padding: 0;
}
.item-folio {
  position: relative;

  overflow: hidden;
}
.item-folio__thumb img {
  transition: all .5s ease-in-out;
  vertical-align: top;
}
.item-folio__thumb a {
  display: block;
}
.item-folio__thumb a::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  display: block;
  visibility: hidden;

  width: 100%;
  height: 100%;

  content: '';
  transition: all .5s ease-in-out;

  opacity: 0;
  background-color: $white-8;
}
.item-folio__thumb a::after {
  font: 3rem/3rem domine-bold, serif;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;

  display: block;
  visibility: hidden;

  width: 3rem;
  height: 3rem;
  margin-top: -1.5rem;
  margin-left: -1.5rem;

  content: '...';
  transition: all .5s ease-in-out;
  transform: scale(.5);
  text-align: center;

  opacity: 0;
  color: $black;
}
.item-folio__text {
  position: absolute;
  z-index: 2;
  bottom: 3.6rem;
  left: 0;

  visibility: hidden;

  padding: 0 3rem;

  transition: all .5s ease-in-out;
  transform: translate3d(0, -100%, 0);

  opacity: 0;
}
.item-folio__title {
  font-size: 1.8rem;

  margin: 0;

  color: $black;
}
.item-folio__cat {
  font: 1.5rem interui-medium, sans-serif;

  margin-bottom: 0;

  color: $black;
}
.item-folio__caption {
  display: none;
}
.item-folio__project-link {
  font: 1.3rem interui-medium, sans-serif;

  position: absolute;
  z-index: 500;
  top: 3rem;
  left: 3rem;

  display: block;
  visibility: hidden;

  padding: .6rem 1.2rem;

  transform: translate3d(-100%, 0, 0);

  opacity: 0;
  color: $white;
  background-color: $black;
}
.item-folio__project-link::before {
  position: absolute;
  top: 50%;
  left: -3rem;

  display: block;

  width: 3rem;
  height: 1px;

  content: '';

  background-color: $white;
}
.item-folio__project-link:hover,
.item-folio__project-link:focus,
.item-folio__project-link:active {
  color: $white;
  background-color: $primary;
}
.item-folio:hover .item-folio__thumb a::before {
  visibility: visible;

  opacity: 1;
}
.item-folio:hover .item-folio__thumb a::after {
  visibility: visible;

  transform: scale(1);

  opacity: 1;
}
.item-folio:hover .item-folio__thumb img {
  transform: scale(1.05);
}
.item-folio:hover .item-folio__project-link {
  visibility: visible;

  transform: translate3d(0, 0, 0);

  opacity: 1;
}
.item-folio:hover .item-folio__text {
  visibility: visible;

  transform: translate3d(0, 0, 0);

  opacity: 1;
}
.testimonials-header {
  margin-top: 7.2rem;

  text-align: center;
}
.testimonials {
  font-size: 1.8rem;
  line-height: 2;

  position: relative;

  margin-top: 4.2rem;

  border-top: 1px solid $black-15;
}
.testimonials__slider {
  position: relative;

  overflow: hidden;

  max-width: 100%;
}
.testimonials__slider .slick-slide {
  outline: 0;
}
.testimonials__slider .slick-dots {
  position: absolute;
  top: 100%;
  left: 0;

  display: block;

  width: 100%;
  margin: 3rem 0 0;
  padding: 0;

  list-style: none;

  text-align: center;
}
.testimonials__slider .slick-dots li {
  display: inline-block;

  width: 2.7rem;
  height: 2.7rem;
  margin: 0;
  padding: .9rem;

  cursor: pointer;
}
.testimonials__slider .slick-dots li button {
  font: 0/0 a;

  display: block;

  width: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;

  cursor: pointer;

  color: $transparent;
  border: none;
  border-radius: 50%;
  background: $black-5;
  text-shadow: none;
}
.testimonials__slider .slick-dots li button:hover,
.testimonials__slider .slick-dots li button:focus {
  outline: 0;
}
.testimonials__slider .slick-dots li.slick-active button,
.testimonials__slider .slick-dots li:hover button {
  background: $black;
}
.testimonials__slide {
  position: relative;

  padding-top: 4.5rem;
  padding-right: 3rem;
  padding-left: 12rem;
}
.testimonials__slide::before {
  position: absolute;
  top: 0;
  left: calc(7.8rem / 2);

  display: block;

  width: 1px;
  height: 3.9rem;

  content: '';

  background-color: $black-2;
}
.testimonials__avatar {
  position: absolute;
  top: 4.8rem;
  left: 0;

  width: 7.8rem;
  height: 7.8rem;

  border-radius: 100%;
  outline: 0;
}
.testimonials__author {
  font: 1.8rem/1.5 interui-bold, sans-serif;

  margin-top: 0;

  color: $black;
}
.testimonials__author span {
  font: 1.4rem/1.5 interui-medium, sans-serif;

  display: block;

  letter-spacing: 0;
  text-transform: none;

  color: $dark-grey; // alpha 0.7
}
.s-stats {
  position: relative;

  overflow: hidden;

  padding-top: 4.2rem;
  padding-bottom: 4.2rem;

  background: $near-black url(../images/stats-bg.jpg) no-repeat center center; // #050505
  background-size: cover;
}
.s-stats::before {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;

  content: '';

  opacity: .8;
  background-color: $near-black; // #050505
}
.stats {
  text-align: center;
}
.stats__col {
  position: relative;

  overflow: hidden;

  margin: 5.4rem 0;
  padding: 0 2rem;

  white-space: nowrap;
}
.stats__count {
  font: 9.2rem/1 interui-regular, sans-serif;

  position: relative;

  overflow: hidden;

  padding-bottom: 1.8rem;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: $white;
}
.stats__count::after {
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;

  width: 10rem;
  height: 1px;
  margin-left: -5rem;

  content: '';

  background-color: $white-5;
}
.stats h5 {
  font: 1.8rem/1.333 interui-medium, sans-serif;

  position: relative;

  margin-top: 1.8rem;

  color: $white-5;
}
.s-contact {
  position: relative;

  padding-top: 21rem;
  padding-bottom: 10.2rem;

  color: $white-3;
  background-color: $v-dark-grey;
}
.s-contact a {
  display: inline-block;

  color: $white;
  border-bottom: 1px solid $transparent;
}
.s-contact a:hover,
.s-contact a:focus {
  border-bottom: 1px solid $white-1;
}
.contact-main {
  margin-top: 14.4rem;
  margin-bottom: 4.8rem;
}
.contact-email {
  font: 5.4rem/1.222 interui-regular, sans-serif;

  position: relative;

  display: inline-block;

  padding-top: 3.6rem;

  color: $white;
}
.contact-email::before {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 6rem;
  height: 1px;

  content: '';

  background-color: $primary;
}
.contact-number {
  font: 3rem/1.7 interui-regular, sans-serif;

  display: block;
}
.contact-address {
  font: 2.8rem/1.607 interui-medium, sans-serif;

  margin-top: 2.4rem;
}
.contact-social {
  font-size: 3rem;

  display: inline-block;

  margin: 0 0 0 .3rem;

  list-style: none;
}
.contact-social li {
  display: inline-block;

  margin-right: 1.5rem;
  padding-left: 0;
}
.contact-social li a {
  color: $white-3;
  border: none !important;
}
.contact-social li a:hover,
.contact-social li a:focus {
  color: $white;
}
.contact-social li:last-child {
  margin: 0;
}
.contact-subscribe {
  position: relative;

  margin: 0;
  padding: 0;
}
.mc-form {
  width: 100%;
  margin-top: 2.1rem;
}
.mc-form input[type='email'] {
  width: 100%;
  height: 5.4rem;
  margin-bottom: 1.8rem;
  padding: 1.2rem 15rem 1.2rem 2rem;

  color: $white-5;
  border: none;
  background-color: $black-2;
}
.mc-form input[type='email']:focus {
  color: $white;
}
.mc-form input[type='email']:placeholder {
  color: $white-2;
}
.mc-form input[type='email'].placeholder {
  color: $white-2 !important;
}
.mc-form input[type='submit'] {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0 1.5rem;

  color: $white;
  border-color: $primary;
  background: $primary;
}
.mc-form label {
  font: 1.3rem interui-medium, sans-serif;

  padding: 0 2rem;

  color: $white;
}
.mc-form label i {
  padding-right: .6rem;
}
.cl-copyright {
  margin-top: 2.1rem;
}
.cl-copyright span {
  font-size: 1.5rem;

  display: inline-block;
}
.cl-copyright span::after {
  display: inline-block;

  padding: 0 1rem 0 1.2rem;

  content: '|';

  color: $white-1;
}
.cl-copyright span:last-child::after {
  display: none;
}
.footer-break::before {
  content: ' · ';
}
.cl-go-top {
  position: absolute;
  z-index: 600;
  right: 10.5rem;
  bottom: 10.8rem;
}
.cl-go-top a {
  line-height: 6rem;

  display: block;

  width: 6rem;
  height: 6rem;

  transition: all .3s ease-in-out;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: $white;
  border: 0 none;
  border-radius: 50%;
  background: $dark-grey;
}
.cl-go-top a span {
  font-size: 2.1rem;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.cl-go-top a:hover,
.cl-go-top a:focus {
  color: $black;
  background-color: $white;
}
.cl-go-top::before {
  position: absolute;
  top: -11.5rem;
  left: 50%;

  display: block;

  width: 1px;
  height: 10rem;

  content: '';

  background-color: $white-1;
}
.cl-go-top::after {
  font-size: 1.2rem;
  line-height: 3rem;

  position: absolute;
  top: -16.5rem;
  left: 4.5rem;

  display: inline-block;

  width: 12rem;

  content: 'back to top';
  transition: all .5s ease-in-out;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  letter-spacing: .2rem;
  text-transform: uppercase;

  color: $white-15;
}
.menu-is-open .cl-go-top {
  display: none;
}
